@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: flex-start;
}

.blue-bg {
    width: 22%; /* Largura da faixa azul */
    height: 100vh; /* Altura igual à altura da viewport */
    background-color: #00a5cf;
    top: 0;
    left: 0;
    position: fixed;
}
.white-bg {
    width: calc(100% - 22%); /* Largura restante */
    height: 90%; /* Altura igual à altura da viewport */
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.logo {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    margin-top: 3%;
    z-index: 1; /* Coloca a logo acima das faixas de fundo */
}

.menu {
    padding: 5%;
    flex-direction: column;
    position: 20%;
    top: 22%;
    left: 4%; /* Ajusta a posição do menu */
    z-index: 1; /* Coloca o menu acima das faixas de fundo */
}

.menu button {
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    background-color: #80d2e7;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.menu button:hover {
    background-color: #008bb3;
}

/*.question-mark {
    position: fixed; 
    bottom: 20px;  
    left: 20px;  
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.question-mark:hover {
    background-color: #26b7f4;
}
*/
/* balao de comentario
.info-balloon {
    position: fixed; 
    bottom: 1%;  
    left: 3%;  
    min-width: 15%;
    min-height: 12%;
    color: white;
    text-align: center;
    z-index: 1;    
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}
/*
.question-mark:hover + .info-balloon {
    display: block;
}
.equacoes:hover + .info-balloon {
    display: block;
}
.equacoes1:hover + .info-balloon {
    display: block;
}
.equacoes2:hover + .info-balloon {
    display: block;
}
.equacoes3:hover + .info-balloon {
    display: block;
}


.paragrafo-ballon {
    color: #007ea3;
    font-size: 60%;
}
 termina balao de comentario*/

.vertical-line {
    width: 1%;
    height: 100%;
    background-color: yellow;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 98%;
    z-index: 1;
}

.info-rodape {
    position: fixed; 
    bottom: 1%;  
    left: 3%;  
    min-width: 15%;
    min-height: 12%;
    background-color: #344A53;
    border-radius: 15px;
    color: white;
    text-align: center;
    z-index: 1;    
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}

.card{
    font-size: 80%;
    margin-top: 7%;
}

.title {
    text-align: center;
    font-size: 210%;
    margin-top: 1%;
}

.equacoes{
    max-width: 30%;
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
    position: relative;
    cursor: pointer;
}

.equacoes1{
    max-width: 20%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 2%;
    position: relative;
    cursor: pointer;
}

.equacoes2{
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 1%;
    position: relative;
    cursor: pointer;
}

.equacoes3{
    max-width: 20%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 1%;
    position: relative;
}

.equacoes4{
    max-width: 15%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 1%;
    position: relative;
}

.equacoestc {
    max-width: 25%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2%;
    position: relative;
}

/* aqui começa o a parte onde estao os botoes*/
.container {
    width: 100%;
    height: 100%;
    margin: 2%;

}

.column {
    width: 95%;
    height: 85%;
    padding: 1%;
    background-color: #F0F0F0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 2%;

}

label {
    width: 100%;
    text-align: center;

}

.label-container {
    width: 60%;
    text-align: left;

}

.input-field {
    width: 15%;
    text-align: right;

}

input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border-color: rgb(227, 239, 14);

}

.selection-container {
    width: 60%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.selection-container label {
    margin-right: 2%;
}

.selection-container select {
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(227, 239, 14);
    cursor: pointer;
}

.button-container {
    width: 65%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.calculate-button {
    width: 20%;
    background-color: #00a5cf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    margin-bottom: 2%;
}

.calculate-button:hover {
    background-color: #007ea3;
}

#vazao,
#vazaoModificado,
#coeficienteC {
    width: 96%;
    font-size: 100%;
}

.balloon {
    background-color: white;
    color: #43655A;
    padding: 1%;
    border-radius: 50px;
    height: 50%; 
    width: 24%; 
    position: fixed;
    top: 20%;
    right: 2%;
    text-align: justify;
    overflow-y: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.balloon p {
    margin-bottom: 4%;
}

.balloon p:first-child {
    font-size: 120%;
    font-weight: bold;
}

.balloon p:nth-child(2) {
    font-size: 100%;
}

.balloon p:nth-of-type(3) {
    font-size: 120%;
  }

.tabela{
    width: 95%;
    height: auto;
    position: relative;
    border-radius: 15px;
    margin-left: 4%;
}

.column h2 {
    text-align: left;
    color: #333333;
    font-size: 120%;
    margin-bottom: 10px;
  }
  
  .column p {
    color: #555555;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .column strong {
    color: #555555;
  }
  
  .column a {
    color: #333333;
  }
  
  .column a:hover {
    text-decoration: underline;
  }


/* tentativa de menu para celular */
.mobile-menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .menu.active {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .blue-bg {
        display: none;
    }
    .white-bg{
        width: 94%;
        right: 6%;
    }

    .logo {
        display: block;
    }

    .mobile-menu {
        display: block;
        text-align: right;
        margin-top: 10px;
    }

    .balloon {
        position: relative;
        clear: both;
        margin-top: 20px;
        min-width: 70%;
        max-height: 50%;
        top: 1%;
        bottom: 2%;
        left: 15%;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        min-width: 100%;
    }

    .subtitulo{
        font-size: 100%;
        min-width: 140%;
    }

    .title {
        text-align: center;
        font-size: 140%;
        margin-top: 1%;
    }

    .equacoes{
        max-width: 50%;
        margin-left: 60%;
        margin-bottom: 6%;
    }

    .equacoes1{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 4%;
    }

    .equacoes2{
        min-width: 130%;
        margin-left: 7%;
        margin-bottom: 10%;
    }

    .equacoes3{
        max-width: 35%;
        margin-left: 55%;
        margin-bottom: 5%;
    }

    .equacoes4{
        max-width: 25%;
        margin-left: 65%;
        margin-bottom: 1%;
    }

    .calculate-button {
        width: 50%;
    } 

    .label-container {
        min-width: 105%;
        font-size: 90%;
    } 
    
    .input-field {
        min-width: 30%;
        margin-right: 1%;
    }

    .selection-container {
        width: 100%;
        font-size: 90%;
        margin-bottom: 10%;
    }
}  



@media only screen and (min-width: 768px) and (max-width: 1024px){

    .white-bg{
        width: 94%;
        right: 6%;
    }

    .logo {
        display: block;
    }

    .balloon {
        position: relative;
        clear: both;
        margin-top: 5%;
        min-width: 60%;
        max-height: 50%;
        top: 1%;
        bottom: 2%;
        left: 20%;
        margin-bottom: 10%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        min-width: 100%;
    }

    .subtitulo{
        font-size: 120%;
    }

    .title {
        text-align: center;
        font-size: 180%;
        margin-top: 2%;
        margin-left: 10%;
    }

    .equacoes{
        max-width: 40%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    .equacoes1{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 4%;
    }

    .equacoes2{
        min-width: 120%;
        margin-left: 15%;
        margin-bottom: 1%;
    }

    .equacoes3{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 5%;
    }

    .equacoes4{
        max-width: 20%;
        margin-left: 65%;
        margin-bottom: 1%;
    }

    .calculate-button {
        width: 35%;
    } 

    .label-container {
        min-width: 110%;
        font-size: 90%;
   
    } 
    
    .input-field {
        min-width: 20%;
        margin-right: 1%;
    }

    .selection-container {
        width: 80%;
        font-size: 90%;
        margin-bottom: 10%;

    }

}
