body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: flex-start;
}

.blue-bg {
    width: 22%; /* Largura da faixa azul */
    height: 100vh; /* Altura igual à altura da viewport */
    background-color: #00a5cf;
    top: 0;
    left: 0;
    position: fixed;
}
.white-bg {
    width: calc(100% - 22%); /* Largura restante */
    height: 90%; /* Altura igual à altura da viewport */
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.logo {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    margin-top: 3%;
    z-index: 1; /* Coloca a logo acima das faixas de fundo */
}

.menu {
    padding: 5%;
    flex-direction: column;
    position: 20%;
    top: 22%;
    left: 4%; /* Ajusta a posição do menu */
    z-index: 1; /* Coloca o menu acima das faixas de fundo */
}

.menu button {
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    background-color: #80d2e7;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.menu button:hover {
    background-color: #008bb3;
}
/* fim da tentativa de menu para celular */

/*.question-mark {
    position: fixed; 
    bottom: 20px;  
    left: 20px;  
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}
*/
.question-mark:hover {
    background-color: #26b7f4;
}
/* balao de comentario*/
.info-balloon {
    position: fixed;
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 4px  rgb(227, 239, 14);
    color: #000000;
    text-align: justify;
    padding: 1%;
    border-radius: 5px;
    max-width: 13%;
    min-height: 5%;
    top: 15%;
    left: 50%;
    z-index: 1;
}

.question-mark:hover + .info-balloon {
    display: block;
}
.equacoes:hover + .info-balloon {
    display: block;
}
.equacoes1:hover + .info-balloon {
    display: block;
}
.equacoes2:hover + .info-balloon {
    display: block;
}
.equacoes3:hover + .info-balloon {
    display: block;
}
/* termina balao de comentario*/

.paragrafo-ballon {
    color: #007ea3;
    font-size: 60%;
}

.vertical-line {
    width: 1%;
    height: 100%;
    background-color: yellow;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 98%;
    z-index: 1;
}

.title {
    text-align: center;
    font-size: 230%;
    margin-top: 1%;
}

.subtitulo {
    font-size: 130%;
}

.equacoes{
    max-width: 30%;
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
    position: relative;
    cursor: pointer;
}

.equacoes1{
    max-width: 20%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 2%;
    position: relative;
    cursor: pointer;
}

.equacoes2{
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 1%;
    position: relative;
    cursor: pointer;
}

.equacoes3{
    max-width: 20%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 1%;
    position: relative;
}

.equacoes4{
    max-width: 15%;
    height: auto;
    margin-left: 29%;
    margin-bottom: 1%;
    position: relative;
}

/* aqui começa o a parte onde estao os botoes*/
.container {
    width: 100%;
    height: 100%;
    margin: 2%;

}

.column {
    width: 95%;
    height: 85%;
    padding: 1%;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 2%;

}

label {
    width: 100%;
    text-align: center;

}

.label-container {
    width: 60%;
    text-align: left;

}

.input-field {
    width: 15%;
    text-align: right;

}

input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border-color: rgb(227, 239, 14);

}

.selection-container {
    width: 60%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.selection-container label {
    margin-right: 2%;
}

.selection-container select {
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(227, 239, 14);
    cursor: pointer;
}

.button-container {
    width: 70%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.calculate-button {
    width: 20%;
    background-color: #00a5cf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    margin-bottom: 2%;
}

.calculate-button:hover {
    background-color: #007ea3;
}

#vazao,
#vazaoModificado,
#coeficienteC {
    width: 96%;
    font-size: 100%;
}

.balloon {
    background-color: #00a5cf;
    color: white;
    padding: 1%;
    border-radius: 50px;
    height: 50%; 
    width: 24%; 
    position: fixed;
    top: 20%;
    right: 3%;
    /*transform: translateY(-150%);*/
    text-align: center;
    overflow-y: auto;
}

.tabela{
    width: 95%;
    height: auto;
    position: relative;
    border-radius: 15px;
}

/* tentativa de menu para celular */
.mobile-menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    .blue-bg {
        display: none;
    }
    .white-bg{
        width: 94%;
        right: 6%;
    }

    .logo {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .mobile-menu {
        display: block;
        text-align: right;
        margin-top: 10px;
    }

    .balloon {
        position: relative;
        clear: both;
        margin-top: 20px;
        min-width: 70%;
        max-height: 50%;
        top: 1%;
        bottom: 2%;
        left: 15%;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        min-width: 100%;
    }

    .subtitulo{
        font-size: 110%;
        min-width: 140%;
    }

    .title {
        text-align: center;
        font-size: 150%;
        margin-top: 1%;
    }

    .equacoes{
        max-width: 50%;
        margin-left: 60%;
        margin-bottom: 6%;
    }

    .equacoes1{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 4%;
    }

    .equacoes2{
        min-width: 140%;
        margin-left: 7%;
        margin-bottom: 10%;
    }

    .equacoes3{
        max-width: 35%;
        margin-left: 55%;
        margin-bottom: 5%;
    }

    .equacoes4{
        max-width: 25%;
        margin-left: 65%;
        margin-bottom: 1%;
    }

    .calculate-button {
        width: 50%;
    } 

    .label-container {
        min-width: 130%;
        font-size: 90%;
    } 
    
    .input-field {
        min-width: 30%;
        margin-right: 1%;
    }

    .selection-container {
        width: 100%;
        font-size: 90%;
        margin-bottom: 10%;
    }
}  

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .blue-bg {
        display: none;
    }
    .white-bg{
        width: 94%;
        right: 6%;
    }

    .logo {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .balloon {
        position: relative;
        clear: both;
        margin-top: 5%;
        min-width: 60%;
        max-height: 50%;
        top: 1%;
        bottom: 2%;
        left: 20%;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        min-width: 100%;
    }

    .subtitulo{
        font-size: 130%;
        min-width: 160%;
    }

    .title {
        text-align: center;
        font-size: 180%;
        margin-top: 2%;
        margin-left: 10%;
    }

    .equacoes{
        max-width: 40%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    .equacoes1{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 4%;
    }

    .equacoes2{
        min-width: 130%;
        margin-left: 15%;
        margin-bottom: 1%;
    }

    .equacoes3{
        max-width: 25%;
        margin-left: 60%;
        margin-bottom: 5%;
    }

    .equacoes4{
        max-width: 20%;
        margin-left: 65%;
        margin-bottom: 1%;
    }

    .calculate-button {
        width: 35%;
    } 

    .label-container {
        min-width: 130%;
        font-size: 90%;
    } 
    
    .input-field {
        min-width: 30%;
        margin-right: 1%;
    }

    .selection-container {
        width: 85%;
        font-size: 90%;
        margin-bottom: 10%;
    }
}

/* tentativa de rodape 
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #00a5cf;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 25%;
    padding: 0 2%;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
}

.footer-bottom {
    background: #007ea3;
    color: white;
    text-align: center;
    padding: 10px 0;
}
*/
